body {
  background-attachment: fixed;
  background-image: url('../images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Set page width to 730px (768px is Bootstrap's 'xs' dimension) */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.navbar-brand {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 35px !important;
}

h2  {
  border-bottom: 1px solid #993200;
}

.body-container {
  background-color: rgba(225, 225, 225, 0.9);
  padding-top: 50px;
  padding-bottom: 50px;
}

.section {
  padding-top: 50px;
}

.body-container a, a:hover, a:focus {
  color: #993200 !important;
  font-weight: bold;
}

.navbar-footer {
  margin-top: 20px;
  margin-bottom: 0px;
}
