body {
  background-attachment: fixed;
  background-image: url('../images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Set page width to 730px (768px is Bootstrap's 'xs' dimension) */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

h1 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 55px !important;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  font-weight: bold;
}

.header {
  border-bottom: 1px solid #993200;
  margin-bottom: 15px;
}

.footer {
  margin-top: 30px;
  font-weight: bold;
}

.body-container {
  background-color: rgba(225, 225, 225, 0.8);
  margin-top: 50px;
  margin-bottom: 50px;
}

.section {
  padding-top: 15px;
  padding-bottom: 15px;
}

.body-container a, .body-container a:hover, .body-container a:focus {
  color: #993200 !important;
  font-weight: bold;
}

.fluid-wrapper {
  height: 0px;
  padding-top: 25px;
  position: relative;
}

.fluid-wrapper.youtube {
  padding-bottom: 56.25%; /* 16:9 */
  margin-bottom: 20px;
}

.fluid-wrapper.bandcamp {
  padding-bottom: 307px;
}

.fluid-wrapper iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

td.date {
  white-space: nowrap;
  width: 1%;
}

td {
  width: 99%;
}

blockquote {
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
}

.social-links {
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-links .fa {
  font-size: 55px;
}

.social-links div {
  display: inline-block;
  padding: 5px;
}
