<h3>UPCOMING SHOWS:</h3>
<table class="table">
  <tr><td class="date">9/25</td><td><strong>Wood River Inn</strong> (1139 Main St, Wyoming, RI)</td></tr>
  <tr><td class="date">10/2</td><td><strong>The Providence Flea</strong> (Corner of Friendship St and Chestnut St, Providence, RI)</td></tr>
  <tr><td class="date">10/8</td><td><strong>3cross Brewing Company</strong> (26 Cambridge St, Worcester, MA)</td></tr>
  <tr><td class="date">10/30</td><td><strong>The Stomping Ground</strong> (132 Main St, Putnam, CT)</td></tr>
  <tr><td class="date">11/2</td><td><strong>Bluegrass Throedown at Nick-A-Nee's</strong> (75 South St, Providence, RI)</td></tr>
</table>

<h3>PAST SHOWS:</h3>
<table class="table">
  <tr><td class="date">9/10</td><td><strong>New England Homebrewer's Jamboree</strong></td></tr>
  <tr><td class="date">8/13</td><td><strong>Pembroke Arts Festival</strong> with Cat and the Moon</td></tr>
  <tr><td class="date">7/17</td><td><strong>Wood River Inn</strong></td></tr>
  <tr><td class="date">7/22</td><td><strong>Appleton Farms</strong></td></tr>
  <tr><td class="date">6/19</td><td><strong>The Providence Flea</strong></td></tr>
  <tr><td class="date">6/1</td><td><strong>Bluegrass Throedown at Nick-A-Nee's</strong></td></tr>
  <tr><td class="date">5/21</td><td><strong>Bluegrass on the Bogs</strong></td></tr>
  <tr><td class="date">5/8</td><td><strong>Wood River Inn</strong></td></tr>
  <tr><td class="date">4/9</td><td><strong>Jacky Boy Publik House</strong></td></tr>
  <tr><td class="date">3/26</td><td><strong>502 Sessions</strong></td></tr>
  <tr><td class="date">2/25</td><td><strong>Village Tavern Salem</strong></td></tr>
  <tr><td class="date">2/14</td><td><strong>Wood River Inn</strong></td></tr>
  <tr><td class="date">2/5</td><td><strong>Nick-A-Nee's</strong> with Frankie Ranks and the Freeloaders and High Planes</td></tr>
  <tr><td class="date">1/21</td><td><strong>Village Tavern Salem</strong></td></tr>
  <tr><td colspan="2"><strong><a href="#collapseshows" data-toggle="collapse" data-target="#pastshows">More past shows...</a></strong></td>
</table>


<div class="collapse" id="pastshows">
  <h3>2015</h3>
  <table class="table">
    <tr><td class="date">12/16</td><td><strong>Bluegrass Throedown at Nick-A-Nee's</strong></td></tr>
    <tr><td class="date">11/11</td><td><strong>Bluegrass Throedown at Nick-A-Nee's</strong></td></tr>
    <tr><td class="date">10/18</td><td><strong>RIBA Band Showcase</strong></td></tr>
    <tr><td class="date">8/30</td><td><strong>The Providence Flea</strong></td></tr>
    <tr><td class="date">8/8</td><td><strong>Pembroke Arts Festival</strong></td></tr>
    <tr><td class="date">8/1</td><td><strong>The Parlour</strong> with Frankie Ranks and the Freeloaders and Ghost Town Revival</td></tr>
    <tr><td class="date">5/14</td><td><strong>The Salon</strong></td></tr>
    <tr><td class="date">5/16</td><td><strong>Blue Moon Coffee House</strong></td></tr>
    <tr><td class="date">4/22</td><td><strong>Bluegrass Throedown at Nick-A-Nee's</strong></td></tr>
    <tr><td class="date">3/27</td><td><strong>Battleship Brewhouse</strong></td></tr>
    <tr><td class="date">3/13</td><td><strong>The News Cafe</strong> with The Paisley Fields, Denver Boot</td></tr>
  </table>

  <h3>2014</h3>
  <table class="table">
    <tr><td class="date">12/13</td><td><strong>Battleship Brewhouse</strong></td></tr>
    <tr><td class="date">10/18</td><td><strong>Billy Hill's Roadhouse</strong></td></tr>
    <tr><td class="date">10/4</td><td><strong>Battleship Brewhouse</strong></td></tr>
    <tr><td class="date">9/27</td><td><strong>Manchester 65</strong> with Santa Mamba</td></tr>
    <tr><td class="date">9/21</td><td><strong>Northwest Farmers Market</strong></td></tr>
    <tr><td class="date">9/9</td><td><strong>Pawtucket Red Sox</strong></td></tr>
    <tr><td class="date">9/5</td><td><strong>The Spot Underground</strong> with Silver Dahli and The Canyon Rays</td></tr>
    <tr><td class="date">8/17</td><td><strong>Northwest Farmers Market</strong></td></tr>
    <tr><td class="date">8/10</td><td><strong>The Providence Flea</strong></td></tr>
    <tr><td class="date">8/9</td><td><strong>Pembroke Arts Festival</strong></td></tr>
    <tr><td class="date">8/2</td><td><strong>Battleship Brewhouse</strong></td></tr>
    <tr><td class="date">7/13</td><td><strong>Northwest Farmers Market</strong></td></tr>
    <tr><td class="date">7/1</td><td><strong>The Spot Underground</strong></td></tr>
    <tr><td class="date">6/22</td><td><strong>Northwest Farmers Market</strong></td></tr>
    <tr><td class="date">6/1</td><td><strong>Fete</strong></td></tr>
    <tr><td class="date">5/23</td><td><strong>Battleship Brewhouse</strong></td></tr>
    <tr><td class="date">5/2</td><td><strong>Pawtucket Red Sox</strong></td></tr>
    <tr><td class="date">4/26</td><td><strong>Dive Bar</strong> with Hollow Turtle, Second Hand Folk, John Faraone, Becca Guilfoyle</td></tr>
    <tr><td class="date">4/11</td><td><strong>Belmont Club</strong></td></tr>
    <tr><td class="date">3/27</td><td><strong>Dive Bar</strong> with Matt Fraza, The Novi Giants, Silhouette Rising, Purple Honey</td></tr>
    <tr><td class="date">2/23</td><td><strong>Dive Bar</strong> with Wax On, Space Pony, Without Warning, Aftermath Association</td></tr>
    <tr><td class="date">2/8</td><td><strong>Manchester 65</strong></td></tr>
  </table>

  <h3>2013</h3>
  <table class="table">
    <tr><td class="date">12/12</td><td><strong>Columbus Club</strong></td></tr>
    <tr><td class="date">12/6</td><td><strong>Manchester 65</strong></td></tr>
    <tr><td class="date">9/29</td><td><strong>AS220</strong> with Reverend Bastien</td></tr>
    <tr><td class="date">9/10</td><td><strong>The Spot Underground</strong> with The Canneries</td></tr>
    <tr><td class="date">7/16</td><td><strong>The Spot Underground</strong> with Groove Axiom and Cranston Dean</td></tr>
    <tr><td class="date">6/10</td><td><strong>The Spot Underground</strong> with Sister Mary and Haunt the House</td></tr>
    <tr><td class="date">6/11</td><td><strong>AS220</strong> with Hollow Turtle and The Dead Language</td></tr>
    <tr><td class="date">5/18</td><td><strong>SOTP</strong> with Demented Poet Society, Steeple Chase Trio, and Brother Moon</td></tr>
    <tr><td class="date">5/14</td><td><strong>AS220</strong> with Hollow Turtle and April's Fury</td></tr>
  </table>
</div>

